<h1>Stumper Stumper</h1>

<h2>
  Examples
</h2>


126 [0, 1])
expect(game.guess("247")).to eq([3, 0])
expect(game.guess("222")).to eq([1, 0])
expect(game.guess("737")).to eq([1, 0])
expect(game.guess("724")).to eq([0, 3])
expect(Game.new(generated_number: "242").guess("223")).to eq([1, 1])
expect(Game.new(generated_number: "74372").guess("43177"))