<h2>
  Examples
</h2>

<% @examples.each do |generated_number, guess, (number_right, number_in_wrong_place)| %>

  <p>If the number is <%= generated_number %>, and you entered <%= guess %>, the result
    would be <%= number_right %> correct, and <%= number_in_wrong_place %> in the wrong place.
  </p>

<% end %>
