<%= form_tag game_path(@game) do %>

  <p class="question">I'm thinking of a <%= @game.level %>-digit number.  What could it be?</p>

  <input type="text" name="guess" placeholder="Your guess" class="guess-box" autofocus="autofocus">
  <input type="submit" value="Guess" class="guess-button">

<% end %>
